body {
    font-family: 'Roboto', sans-serif;
    color: var(--text-color);
    background-color: var(--background-color);
    line-height: 1.6;
    margin: 0;
    padding: 0;
    transition: background-color 0.3s, color 0.3s;
}

header {
    text-align: left;
    padding: 1.5em;
    border-bottom: 1px solid var(--border-color);
}

header h1 {
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 1 em;
    color: var(--header-text-color);
    margin: 0;
}

header nav {
    margin-top: 1em;
    display: flex;
    align-items: center;
}

header nav a {
    font-size: 1em;
    margin-right: 15px;
    text-decoration: none;
    color: var(--link-color);
}

header nav a:hover {
    color: var(--link-hover-color);
    text-decoration: underline;
}

header #theme-toggle {
    margin-left: auto;
    background: none;
    border: none;
    cursor: pointer;
}

.theme-icon {
    width: 1.5em;
    height: 1.5em;
}

main {
    max-width: 800px;
    margin: 2em auto;
    padding: 0 1.5em;
}

#about {
    font-family: 'Roboto', sans-serif;
    font-size: 1 em;
    color: var(--text-color);
}

.about-content {
    display: flex;
    align-items: center;
}

.about-content img {
    width: 180px;
    height: auto;
    max-height: 180px; 
    border-radius: 8px;
    margin-right: 20px;
    object-fit: cover;
    object-position: 15% 70%;
}

#work h2 {
    font-size: 1.5em;
    border-bottom: 2px solid var(--border-color);
    padding-bottom: 0.3em;
    margin-top: 1.5em;
}

.work-list {
    font-family: 'Roboto', sans-serif;
    font-size: 1em;
    margin-top: 1em;
    color: var(--text-color);
}

.work-item {
    margin: 0.5em 0;
}

footer {
    text-align: center;
    padding: 1em 0;
}

.footer-links a {
    margin: 0 1em;
    color: var(--footer-link-color);
    text-decoration: none;
    font-size: 1em;
    display: inline-flex;
    align-items: center;
}

.footer-links a img {
    width: 1.25em;
    height: 1em;
    margin-right: 0.5em;
}

footer p {
    color: var(--text-muted-color);
    margin-top: 0.5em;
}



:root {
    --background-color: #ffffff;
    --text-color: #333;
    --header-text-color: #000;
    --border-color: #e0e0e0;
    --link-hover-color: #000;
    --footer-link-color: #333;
    --text-muted-color: #666;
}

body.dark-mode {
    --background-color: #1A1A1A;
    --text-color: #EDEDED;
    --header-text-color: #FFFFFF;
    --border-color: #333;
    --link-hover-color: #FFFFFF;
    --footer-link-color: #EDEDED;
    --text-muted-color: #AAAAAA;
}

.project-list {
    display: flex;
    flex-direction: column;
    gap: 2em; 
}

body.dark-mode main a {
    color: #FFFFFF; 
    text-decoration: underline;
}
