body {
    font-family: 'Helvetica Neue', Arial, sans-serif;
    margin: 0;
    padding: 0;
    color: #333;
    line-height: 1.6;
    background-color: #f9f9f9;
}

header {
    background-color: #192857;
    color: white;
    text-align: center;
    padding: 1em 0;
}

header h1 {
    margin: 0;
    font-size: 2em;
}

main {
    padding: 2em;
    max-width: 800px;
    margin: 0 auto;
}

main h2 {
    color: #192857;
    font-size: 1.5em;
    margin-bottom: 0.5em;
}

main p {
    margin-bottom: 1.5em;
}

footer {
    text-align: center;
    padding: 1em 0;
}

footer a {
    margin: 0 1em;
    color: #192857;
    text-decoration: none;
    font-size: 1em;
    display: inline-flex;
    align-items: center;
}

footer a img {
    width: 1.25em;
    height: 1em;
    margin-right: 0.5em;
}
